/* === PQRSF FORMULARIO === */
.pqrsf-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.pqrsf-form label {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.pqrsf-form input,
.pqrsf-form textarea {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  resize: vertical;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.pqrsf-form input:focus,
.pqrsf-form textarea:focus {
  border-color: #004080;
  box-shadow: 0 0 6px rgba(0, 64, 128, 0.2);
  outline: none;
}

.pqrsf-form textarea {
  min-height: 80px;
}

.save-btn {
  background: #004080;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.save-btn:hover {
  background: #003060;
}

.save-btn:active {
  transform: scale(0.98);
}

.bot-dictionary-link {
  font-size: 12px;
  color: #555; /* gris suave */
  text-decoration: none; /* quita el subrayado */
  display: block;
  margin-top: 5px;
  text-align: center; /* centra el texto */
}

.bot-dictionary-link:hover {
  color: #333;
  text-decoration: underline;
}

